@import 'partials/logo'
@import 'partials/nav'
@import 'partials/case'
@import 'partials/gallery'
@import 'global/variables'
@import 'global/typography'


html, body
  margin: 0
  padding: 0
  position: relative
  width: 100%
  height: 100%
  overflow: auto  
  overflow-x: hidden

body
  font-size: 100%
  width: 100%
  min-height: 100%
  height: auto
  margin-bottom: 50px

a
  color: black


.contact
  display: inline-block
  vertical-align: top
  max-width: 60%
  margin-left: 25%
  margin-top: 120px
  p
    @extend .typography-regular
  &-heading
    @extend .typography-bold
    text-transform: uppercase


#sketch
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100vh
	z-index: -1
	pointer-events: none






@media all and (max-width: $breakpoint-mobile)

  body
    // font-size: 110%

  .contact
    max-width: 80%
    margin-left: 0px
    margin: 0 10%
    margin-top: 70px



  

// @media all and (min-width: $breakpoint-smallDesktop)

//   body
//     font-size: 120%

  